name: Build Library

on:
  push:
    paths-ignore:
      - '**/*.md'
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    env:
      BUILD_RUNTIME: ${{ matrix.os == 'ubuntu-latest' && 'linux-x64' || 'windows-x64' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.x
    - uses: gerlero/apt-install@v1
      if: startsWith(matrix.os, 'ubuntu') == true
      with:
        packages: libhwy-dev liblcms2-dev libjpeg-turbo8-dev libpng-dev libjpeg-dev zlib1g-dev libgif-dev
    - name: Test
      run: dotnet test --no-restore --configuration Release --filter TestCategory=Smoke --logger "console;verbosity=detailed"
    - name: Upload Test Results
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: verify-test-results-${{matrix.os}}-${{github.run_id}}
        path: |
          **/*.received.*
